@using Application;
@using Domain.Entities;
@model Produto;
@{
    ViewData["Title"] = "Atualizar de produto";

    string sStatus = "001";
    try { sStatus = ViewData["Status"].ToString(); } catch { sStatus = "001"; }
}

<div class="container marketing mt-5">
    <div class="row justify-content-center">

        <div class="col-12 mb-3 text-center">
            <h3 class="title-3">@ViewData["Title"]</h3>
        </div>

        <div class="col-12 col-sm-8 col-md-7 col-lg-6 mb-3">

            @{
                try
                {
                    switch (sStatus)
                    {
                        case "901":
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Ops!</h5>
                                        <p class="card-text">Ocorreu um erro inesperado.</p>
                                    </div>
                                </div>
                            }
                            break;
                        case "001":
                            {
                                <form id="IdFrmPostLogIn" method="post" action="@ViewData["appUrl"]Atualizar-Produto" class="card">
                                    <input type="hidden" asp-for="Id" value="@Model.Id" class="invisible" required />
                                    <div class="card-body">
                                        <div class="row justify-content-center">

                                            <div class="col-12 mb-3">
                                                <label>Nome</label>
                                                <input type="text" asp-for="Nome" class="form-control" autocomplete="off" required maxlength="50" />
                                            </div>

                                            <div class="col-12 mb-3">
                                                <label>Código de barras</label>
                                                <input type="text" asp-for="CodigoDeBarras" class="form-control" autocomplete="off" required maxlength="100" />
                                            </div>

                                            <div class="col-12 mb-3">
                                                <label>Descrição</label>
                                                <textarea id="Descricao" name="Descricao" class="form-control" autocomplete="off" required style="height: 360px;">@Model.Descricao</textarea>
                                            </div>

                                            <div class="col-12 col-md-4 mb-3">
                                                <label>Preço</label>
                                                <input type="text" asp-for="Preco" class="form-control" autocomplete="off" required maxlength="24" />
                                            </div>

                                            <div class="col-12 col-md-4 mb-3">
                                                <label>Status</label>
                                                @Html.Raw(Util.Select("Status", "form-control", Model.Status, "|A|I|X", "Escolha|Ativo|Inativo|Encerrado"))
                                            </div>

                                            <div class="col-12 col-md-4 mb-3 text-right" style="text-align: right;">
                                                <button type="submit" class="btn btn-primary" style="margin-top: 24px; margin-bottom: 0px;">Atualizar</button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            }
                            break;
                    }
                }
                catch { }
            }

        </div>
    </div>
</div>
