@using Application;
@{
    ViewData["Title"] = "Lista de produtos";
    string sPerfil = "Cliente";
    try { sPerfil = ViewData["Perfil"].ToString().ToUpper(); } catch { sPerfil = "Cliente"; }
}

<div class="container marketing mt-5">
    <div class="row justify-content-center">

        <div class="col-12 mb-3 text-center">
            <h3 class="title-3">@ViewData["Title"]</h3>
        </div>

        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center">
                        @{
                            try
                            {
                                if (ViewBag.Dados != null)
                                {
                                    //sPerfil = "ADM";

                                    <div class="table-responsive" style="overflow-x:auto;">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    @{
                                                        if (sPerfil == "ADM")
                                                        {
                                                            <th>*</th>
                                                        }
                                                    }
                                                    <th>Produto</th>
                                                    <th>Valor</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    foreach (var oItem in ViewBag.Dados)
                                                    {
                                                        string _Id = "0", _Nome = "", _Preco = "0,00", _Status = "", _Descricao = "", _UrlEdit = "", _ColSpan = "3";
                                                        try { _Id = Util.Encrypt(oItem["Id"].ToString()); } catch { _Id = "0"; }
                                                        try { _Nome = Util.FormatarHtml(oItem["Nome"].ToString()); } catch { _Nome = ""; }
                                                        try { _Preco = Util.FormatarValor(oItem["Preco"].ToString(), ",", 2); } catch { _Preco = "0,00"; }
                                                        try { _Status = Util.Label("TDStatus", oItem["Status"].ToString(), "|T|A|I|X", "Não definido|Todos|Ativo|Inativo|Encerrado"); } catch { _Status = ""; }
                                                        try { _Descricao = Util.FormatarHtml(oItem["Descricao"].ToString()); } catch { _Descricao = ""; }
                                                        _UrlEdit = "Atualizar-Produto/" + _Id;

                                                        <tr class="tr-shadow">
                                                            @{
                                                                if (sPerfil == "ADM")
                                                                {
                                                                    _ColSpan = "4";
                                                                    <td><a href="@_UrlEdit">Editar</a></td>
                                                                }
                                                            }
                                                            <td>@Html.Raw(_Nome)</td>
                                                            <td>R$ @Html.Raw(_Preco)</td>
                                                            <td>@Html.Raw(_Status)</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="@_ColSpan">
                                                                @Html.Raw(_Descricao)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            }
                            catch { }
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
