
<div class="container marketing mt-5">
    <div class="row d-flex justify-content-center">

        <div class="col-11 col-sm-12 ">
            <h2>Usuário</h2>
        </div>

        <div class="col-11 col-sm-12 mt-4">
            <h4>Esta documentação vai mostrar a forma correta de integrar com seus usuários na plataforma.</h4>
            <hr />

            <div class="Doc-Container">
                <div class="oPost">
                    <h5><span>POST / json</span>/Usuario</h5>
                </div>
                <hr />
                <div class="url">
                    @{
                        string UrlP = ViewData["appUrlApi"] + "Usuario";
                        string UrlH = ViewData["appUrlApi"] + "Usuario";
                    }
                    <div><b>Send Homologação : </b>@UrlP</div>
                    <div class="mb-4"><b>Send Produção : </b>@UrlH</div>

                    <div class="clearfix"><b>Atributos do Header</b></div>

                    <div class="mt-2">
                        <div><b>Accept : </b>application/json</div>
                        <div><b>Content-Type : </b>application/json</div>
                        <div><b>Authorization : </b>Bearer [TOKEN-DO-ESTABELECIMENTO]</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-11 col-sm-12 mt-4">
            <div class="Doc-Container">
                <div class="row d-flex justify-content-center">
                    <div class="col-11 col-sm-12 col-md-9 col-lg-8 text-center mt-5 mb-5">
                        <div class="row">

                            <div class="col-12 col-sm-6 mb-5 text-center">
                                <a href="@ViewData["appUrlApi"]Documentação/Usuário/Cadastar">
                                    <i class="fal fa-4x fa-user-plus"></i>
                                    <h3 class="mt-2">Cadastrar</h3>
                                </a>
                            </div>

                            <div class="col-12 col-sm-6 mb-5 text-center">
                                <a href="@ViewData["appUrlApi"]Documentação/Usuário/Atualizar">
                                    <i class="fal fa-4x fa-user-plus"></i>
                                    <h3 class="mt-2">Atualizar</h3>
                                </a>
                            </div>

                            <div class="col-12 col-sm-6 mb-5 text-center">
                                <a href="@ViewData["appUrlApi"]Documentação/Usuário/Listar">
                                    <i class="fal fa-4x fa-user-plus"></i>
                                    <h3 class="mt-2">Listar</h3>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
